<mat-toolbar class="color-nav">
    <span>ProyectoMaterial</span>
    
    <button mat-button routerLink="/dashboard/inicio" >Inicio</button>
    <button mat-button routerLink="/dashboard/productos">Productos</button>
    <button mat-button routerLink="/dashboard/informacion">Informacion</button>
   
    <!-- Con esta clase indico un espacio entre botones-->
    <span class="example-spacer"></span>
    <button Routerlink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <!-- solo escribo el nombre del icono -->
        <mat-icon>logout</mat-icon>
      </button>
       
  </mat-toolbar>
